testHotels2/src/META-INF/wsdl/hotelsWSDLService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://hotels.ws" xmlns:ns0="http://XMLSchema" xmlns:ns="http://types.fastmoney.imm.dtu.dk" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="hotelsWSDL" targetNamespace="http://hotels.ws">
    <types>
        <xsd:schema xmlns:tns="http://hotels.ws" xmlns:ns1="hotelws.schema" targetNamespace="http://hotels.ws">
            <xsd:import namespace="hotelws.schema" schemaLocation="http://localhost:8080/hotelsWS/hotelsWSDLService?xsd=2"/>
            <xsd:import schemaLocation="http://localhost:8080/hotelsWS/hotelsWSDLService?xsd=1" namespace="http://types.fastmoney.imm.dtu.dk"/>
            <xsd:element name="hotelFault" type="xsd:string"/>
            <xsd:complexType name="getHotelsRequestType">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="arrivalDate" type="xsd:date"/>
                    <xsd:element name="departureDate" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsRequest" type="tns:getHotelsRequestType"/>
            <xsd:element name="getHotelsResponse" type="ns1:hotelListType"/>
            <xsd:complexType name="bookHotelRequestType">
                <xsd:sequence>
                    <xsd:element name="bookingNumber" type="xsd:string"/>
                    <xsd:element name="creditcardInformation" type="ns:creditCardInfoType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelRequest" type="tns:bookHotelRequestType"/>
            <xsd:element name="bookHotelResponse" type="xsd:boolean"/>
            <xsd:element name="cancelHotelRequest" type="xsd:string"/>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="getHotelsRequest" element="tns:getHotelsRequest"/>
    </message>
    <message name="getHotelsResponse">
        <part name="getHotelsResponse" element="tns:getHotelsResponse"/>
    </message>
    <message name="bookHotelRequest">
        <part name="bookHotelRequest" element="tns:bookHotelRequest"/>
    </message>
    <message name="bookHotelResponse">
        <part name="bookHotelResponse" element="tns:bookHotelResponse"/>
    </message>
    <message name="bookHotelFault">
        <part name="bookHotelFault" element="tns:hotelFault"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="bookingNumber" element="tns:cancelHotelRequest"/>
    </message>
    <message name="cancelHotelResponse"/>
    <message name="cancelHotelFault">
        <part name="cancelHotelFault" element="tns:hotelFault"/>
    </message>
    <portType name="hotelsPort">
        <operation name="getHotels">
            <input name="input1" message="tns:getHotelsRequest"/>
            <output name="output1" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:bookHotelRequest"/>
            <output name="output2" message="tns:bookHotelResponse"/>
            <fault name="fault1" message="tns:bookHotelFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input3" message="tns:cancelHotelRequest"/>
            <output name="output3" message="tns:cancelHotelResponse"/>
            <fault name="fault1" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="hotelsPortBinding" type="tns:hotelsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="hotelsWSDLService">
        <port name="hotelsPort" binding="tns:hotelsPortBinding">
            <soap:address location="http://localhost:8080/hotelsWS/hotelsWSDLService"/>
        </port>
    </service>
</definitions>