XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="hotelsWSDL" targetNamespace="http://hotels.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://hotels.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://XMLSchema">
    <types>
        <xsd:schema targetNamespace="http://hotels.ws" xmlns:tns="http://hotels.ws">
            <xsd:import namespace="http://XMLSchema" schemaLocation="../../../XMLSchema.xsd"/>
        <!--    <xsd:complexType name="hotelType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="address" type="xsd:string"></xsd:element>
                    <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="creditcardGuarantee" type="xsd:boolean"></xsd:element>
                    <xsd:element name="serviceName" type="xsd:string"></xsd:element>
                    <xsd:element name="price" type="xsd:int" id="price"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hotelListType">
                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="hotel" type="tns:hotelType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="hotelList" type="tns:hotelListType"></xsd:element>
            <xsd:complexType name="errorType">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"></xsd:element>
                    <xsd:element name="hotel" type="tns:hotelType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="city" type="xsd:string"></xsd:element>
                        <xsd:element name="arrivalDate" type="xsd:date"></xsd:element>
                        <xsd:element name="departureDate" type="xsd:date"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getHotelsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="hotelList" type="tns:hotelListType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookHotelRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                        <xsd:element name="creditcard" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookHotelResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:boolean" minOccurs="1"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelHotelRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="fault" type="tns:errorType"></xsd:element>-->
        </xsd:schema>
    </types>
    <message name="cancelHotelRequest">
        <part name="cancelHotelRequest" element="tns:cancelHotelRequest"/>
    </message>
    <message name="cancelHotelResponse"/>
    <message name="cancelHotelFault">
        <part name="cancelFailed" element="tns:fault"/>
    </message>
    <message name="getHotelsRequest">
        <part name="getHotelsRequest" element="tns:getHotelsRequest"/>
    </message>
    <message name="getHotelsResponse">
        <part name="getHotelsResponse" element="tns:getHotelsResponse"/>
    </message>
    <message name="bookHotelRequest">
        <part name="bookHotelRequest" element="tns:bookHotelRequest"/>
    </message>
    <message name="bookHotelResponse">
        <part name="bookHotelResponse" element="tns:bookHotelResponse"/>
    </message>
    <message name="bookHotelFault">
        <part name="bookingFailed" element="tns:fault"/>
    </message>
    <portType name="hotelsWSDLPortType">
        <operation name="cancelHotel">
            <input name="input1" message="tns:cancelHotelRequest"/>
            <output name="output1" message="tns:cancelHotelResponse"/>
            <fault name="fault1" message="tns:cancelHotelFault"/>
        </operation>
        <operation name="getHotels">
            <input name="input2" message="tns:getHotelsRequest"/>
            <output name="output2" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="input3" message="tns:bookHotelRequest"/>
            <output name="output3" message="tns:bookHotelResponse"/>
            <fault name="fault1" message="tns:bookHotelFault"/>
        </operation>
    </portType>
    <binding name="hotelsWSDLPortTypeBinding" type="tns:hotelsWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="hotelsWSDLService">
        <port name="hotelsWSDLPort" binding="tns:hotelsWSDLPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
