TravelGood_REST/TravelGood/Web References/dk.dtu.imm.fastmoney/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://fastmoney.imm.dtu.dk" targetNamespace="http://fastmoney.imm.dtu.dk" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1" namespace="http://types.fastmoney.imm.dtu.dk" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=2" namespace="http://fastmoney.imm.dtu.dk" />
    </xsd:schema>
  </types>
  <message name="chargeCreditCard">
    <part name="parameters" element="tns:chargeCreditCard" />
  </message>
  <message name="chargeCreditCardResponse">
    <part name="parameters" element="tns:chargeCreditCardResponse" />
  </message>
  <message name="CreditCardFaultMessage">
    <part name="fault" element="tns:CreditCardFault" />
  </message>
  <message name="validateCreditCard">
    <part name="parameters" element="tns:validateCreditCard" />
  </message>
  <message name="validateCreditCardResponse">
    <part name="parameters" element="tns:validateCreditCardResponse" />
  </message>
  <message name="refundCreditCard">
    <part name="parameters" element="tns:refundCreditCard" />
  </message>
  <message name="refundCreditCardResponse">
    <part name="parameters" element="tns:refundCreditCardResponse" />
  </message>
  <portType name="BankPortType">
    <operation name="chargeCreditCard">
      <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://fastmoney.imm.dtu.dk/BankPortType/chargeCreditCardRequest" message="tns:chargeCreditCard" />
      <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://fastmoney.imm.dtu.dk/BankPortType/chargeCreditCardResponse" message="tns:chargeCreditCardResponse" />
      <fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://fastmoney.imm.dtu.dk/BankPortType/chargeCreditCard/Fault/CreditCardFaultMessage" name="CreditCardFaultMessage" message="tns:CreditCardFaultMessage" />
    </operation>
    <operation name="validateCreditCard">
      <input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://fastmoney.imm.dtu.dk/BankPortType/validateCreditCardRequest" message="tns:validateCreditCard" />
      <output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://fastmoney.imm.dtu.dk/BankPortType/validateCreditCardResponse" message="tns:validateCreditCardResponse" />
      <fault xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://fastmoney.imm.dtu.dk/BankPortType/validateCreditCard/Fault/CreditCardFaultMessage" name="CreditCardFaultMessage" message="tns:CreditCardFaultMessage" />
    </operation>
    <operation name="refundCreditCard">
      <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://fastmoney.imm.dtu.dk/BankPortType/refundCreditCardRequest" message="tns:refundCreditCard" />
      <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://fastmoney.imm.dtu.dk/BankPortType/refundCreditCardResponse" message="tns:refundCreditCardResponse" />
      <fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://fastmoney.imm.dtu.dk/BankPortType/refundCreditCard/Fault/CreditCardFaultMessage" name="CreditCardFaultMessage" message="tns:CreditCardFaultMessage" />
    </operation>
  </portType>
</definitions>