TravelGood_REST/TravelGood/Web References/dk.dtu.imm.fastmoney/BankService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://types.fastmoney.imm.dtu.dk" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="creditCardInfoType">
    <xs:sequence>
      <xs:element name="expirationDate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="month" type="xs:int" />
            <xs:element name="year" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="name" type="xs:string" />
      <xs:element name="number" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="number" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>