TravelGoodBPEL/TravelGoodBPEL/src/travelgoodws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelgoodws" targetNamespace="travelgood.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="travelgood.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="travelgood.ws" xmlns:tns="travelgood.ws">
            <xsd:complexType name="flight">
                <xsd:sequence>
                    <xsd:element name="origin" type="xsd:string"></xsd:element>
                    <xsd:element name="destination" type="xsd:string"></xsd:element>
                    <xsd:element name="departureDateTime" type="xsd:date"></xsd:element>
                    <xsd:element name="arrivalDateTime" type="xsd:date"></xsd:element>
                    <xsd:element name="carrier" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="fligthInformation">
                <xsd:sequence>
                    <xsd:element name="flight" type="tns:flight"></xsd:element>
                    <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="price" type="xsd:float"></xsd:element>
                    <xsd:element name="airlineReservationService" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightInformationList">
                <xsd:sequence>
                    <xsd:element name="newElement" type="tns:fligthInformation" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="flightInformationList" type="tns:flightInformationList"></xsd:element>
        </xsd:schema>
    </types>
    <message name="createNewItineraryRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="createNewItineraryResponse">
        <part name="itineraryID" type="xsd:int"/>
    </message>
    <message name="travelgoodwsOperationRequest">
        <part name="destination" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="travelgoodwsOperationResponse">
        <part name="flightList" type="tns:flightInformationList"/>
    </message>
    <message name="travelgoodwsOperationRequest1">
        <part name="destination" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="travelgoodwsOperationResponse1">
        <part name="flightsList" element="tns:flightInformationList"/>
    </message>
    <portType name="travelgoodwsPortType">
        <operation name="createNewItinerary">
            <input name="input1" message="tns:createNewItineraryRequest"/>
            <output name="output1" message="tns:createNewItineraryResponse"/>
        </operation>
        <operation name="getFlights">
            <input name="input2" message="tns:travelgoodwsOperationRequest1"/>
            <output name="output2" message="tns:travelgoodwsOperationResponse1"/>
        </operation>
    </portType>
    <binding name="travelgoodwsBinding" type="tns:travelgoodwsPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createNewItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="travelgood.ws"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="travelgood.ws"/>
            </output>
        </operation>
    </binding>
    <service name="travelgoodwsService">
        <port name="travelgoodwsPort" binding="tns:travelgoodwsBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/travelgoodwsService/travelgoodwsPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="travelgoodws">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelgoodwsPortTypeRole" portType="tns:travelgoodwsPortType"/>
    </plnk:partnerLinkType>
</definitions>
