testHotels2/src/META-INF/wsdl/localhost_8080/hotelsWS/hotelsWSDLService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="hotelws.schema" targetNamespace="hotelws.schema" elementFormDefault="qualified">
    <xsd:complexType name="hotelType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="address" type="xsd:string"/>
            <xsd:element name="bookingNumber" type="xsd:string"/>
            <xsd:element name="creditcardGuarantee" type="xsd:boolean"/>
            <xsd:element name="serviceName" type="xsd:string"/>
            <xsd:element name="totalPrice" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotelListType">
                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="hotel" type="tns:hotelType" maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
    </xsd:complexType>
</xsd:schema>