LameDuckTestClient/src/META-INF/wsdl/omarsillo-pc_8080/LameDuck/lameDuckWSService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lameDuck/xsd.ws" targetNamespace="http://lameDuck/xsd.ws" elementFormDefault="qualified">
	<xsd:complexType name="flight">
		<xsd:sequence>
			<xsd:element name="origin" type="xsd:string"/>
			<xsd:element name="destination" type="xsd:string"/>
			<xsd:element name="departureDateTime" type="xsd:date"/>
			<xsd:element name="arrivalDateTime" type="xsd:date"/>
			<xsd:element name="carrier" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fligthInformation">
		<xsd:sequence>
			<xsd:element name="flight" type="tns:flight"/>
			<xsd:element name="bookingNumber" type="xsd:string"/>
			<xsd:element name="price" type="xsd:float"/>
			<xsd:element name="airlineReservationService" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="flightInformationList">
		<xsd:sequence>
			<xsd:element name="flightInformation" type="tns:fligthInformation" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="getFlightsResponse" type="tns:flightInformationList"/>
	<xsd:complexType name="request">
		<xsd:sequence>
			<xsd:element name="origin" type="xsd:string"/>
			<xsd:element name="destination" type="xsd:string"/>
			<xsd:element name="departureDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="getFlighRequest" type="tns:request"/>
</xsd:schema>