LameDuckTestClient/src/META-INF/wsdl/localhost_8080/LameDuck/lameDuckWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lameDuck/web" xmlns:ns0="http://lameDuck/xsd.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="lameDuckWS" targetNamespace="http://lameDuck/web">
    <types>
        <xsd:schema xmlns:ns1="http://types.fastmoney.imm.dtu.dk" targetNamespace="http://lameDuck/web">
            <xsd:import namespace="http://lameDuck/xsd.ws" schemaLocation="http://localhost:8080/LameDuck/lameDuckWSService?xsd=2"/>
            <xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/LameDuck/lameDuckWSService?xsd=1"/>
            <xsd:complexType name="bookRequest">
                <xsd:sequence>
                    <xsd:element name="creditCardInfo" type="ns1:creditCardInfoType"/>
                    <xsd:element name="bookingNumber" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getBookRequest" type="tns:bookRequest"/>
            <xsd:element name="status" type="xsd:boolean"/>
            <xsd:complexType name="bookFaultType">
                <xsd:sequence>
                    <xsd:element name="errorMessage" type="xsd:string"/>
                    <xsd:element name="creditCard" type="ns1:creditCardInfoType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookFault" type="tns:bookFaultType"/>
            <xsd:element name="statusCancel" type="xsd:boolean"/>
            <xsd:complexType name="cancelRequest">
                <xsd:sequence>
                    <xsd:element name="bookingNumber" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:int"/>
                    <xsd:element name="creditCardInfo" type="ns1:creditCardInfoType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getCancelRequest" type="tns:cancelRequest"/>
            <xsd:complexType name="cancelFaultType">
                <xsd:sequence>
                    <xsd:element name="errorMessage" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="cancelFault" type="tns:cancelFaultType"/>
        </xsd:schema>
    </types>
    <message name="lameDuckWSOperationRequest">
        <part name="getFlightRequest" element="ns0:getFlighRequest"/>
    </message>
    <message name="lameDuckResponse">
        <part name="getFlightResponse" element="ns0:getFlightsResponse"/>
    </message>
    <message name="lameDuckBookFlightRequest">
        <part name="getBookRequest" element="tns:getBookRequest"/>
    </message>
    <message name="lameDuckBookFlightResponse">
        <part name="getBookResponse" element="tns:status"/>
    </message>
    <message name="getBookingFault">
        <part name="bookingFault" element="tns:bookFault"/>
    </message>
    <message name="lameDuckCancelFlightRequest">
        <part name="getCancelRequest" element="tns:getCancelRequest"/>
    </message>
    <message name="lameDuckCancelFlightResponse">
        <part name="getCancelResponse" element="tns:statusCancel"/>
    </message>
    <message name="getCancelFault">
        <part name="cancelFault" element="tns:cancelFault"/>
    </message>
    <portType name="lameDuckWSPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:lameDuckWSOperationRequest"/>
            <output name="output1" message="tns:lameDuckResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:lameDuckBookFlightRequest"/>
            <output name="output2" message="tns:lameDuckBookFlightResponse"/>
            <fault name="fault1" message="tns:getBookingFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:lameDuckCancelFlightRequest"/>
            <output name="output3" message="tns:lameDuckCancelFlightResponse"/>
            <fault name="fault1" message="tns:getCancelFault"/>
        </operation>
    </portType>
    <binding name="lameDuckWSPortTypeBinding" type="tns:lameDuckWSPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://lameDuck/web"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://lameDuck/web"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://lameDuck/web"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://lameDuck/web"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="http://lameDuck/web"/>
            </fault>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://lameDuck/web"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://lameDuck/web"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal" namespace="http://lameDuck/web"/>
            </fault>
        </operation>
    </binding>
    <service name="lameDuckWSService">
        <port name="lameDuckWSPortTypeBindingPort" binding="tns:lameDuckWSPortTypeBinding">
            <soap:address location="http://localhost:8080/LameDuck/lameDuckWSService"/>
        </port>
    </service>
</definitions>